*
{
    font-family: 'Rubik', sans-serif;
    list-style: none;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}
header
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #c90b0b;
    opacity: 0.9;
}

#logo
{
    height: 50px;
    padding-left: 50px;
}
.container
{
    width: 1260px;
    margin: auto;
}

.navCheckbox
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
}
.tabNav
{
    outline: none;
    display: none;
}
.label
{
    display: none;
    color: white;
}

.burger
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;
}
.navTitles
{
    grid-column: 3;
    margin: 0;
    padding: 0;
}
.navTitles li
{
    display: inline-block;
    padding-right: 10px;
}
.navTitles li a
{
    text-decoration: none;
    color: white;
    position: relative;
}
.navTitles li a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}
.navTitles li a:hover::after{
    transform: scale(1, 1);
    cursor: pointer;
}
p{
    text-align: justify;
}
@media screen and (max-width: 1280px){

    .container{

        width: 100%;

    }

}
@media screen and (max-width: 770px){

    .label{

        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }
    .navTitles{

        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }
    .navCheckbox input:checked ~ .navTitles{

        max-height: 500px;
    }
    .navTitles li{

        padding: 15px 0px;
    }
}