.imgBuilds
{
    height: 300px;
}
.contentSection
{
    padding-top: 80px;
    padding-left: 30px;
}
.t2
{
    color: gray;
    font-size:x-large;
}
.title1 h1{
    font-size:x-large;
    display: inline-block;
}
.cards
{
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}
.contCard
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
.cards2
{
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}
.contCard2
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
.cardsa
{
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}
.contCard3
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
.imgn1
{
    background: url(/images/build.png);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn2
{
    background: url(/images/teac.png);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn3
{
    background: url(/images/stu.png);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn4
{
    background: url(/images/gra.jpeg);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn5
{
    background: url(/images/decano.jpg);
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    
}
.imgn6
{
    background: url(/images/subdecano.jpeg);
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.card
{
    box-shadow: 0 1px 6px 1px rgb(88, 88, 88);
    transition: .2s;
}
.card:hover
{
    transform: translateY(-4px);
    box-shadow: 0 1px 6px 1px rgb(0,0, 45);
}
.cardHeader
{
    width: 100%;
    height: 180px;
}
.cardHeader2
{
    display: grid;
    width: 100%;
    height: 300px;
    justify-items: center;
}
.cardBody
{
    padding: 15px;
    text-align: center;
}

@media (max-width: 770px)
{
    .contCard
    {
        grid-template-columns: repeat(2,1fr);
    }
    .contCard2
    {
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 600px)
{
    .contCard
    {
        grid-template-columns: repeat(1,1fr);
    }
}