.imgBuilds
{
    height: 300px;
}
.contentSection
{
    padding-top: 70px;
}
.title1
{
    background-color: antiquewhite;
    padding-left: 30px;
}
.t2
{
    color: gray;
    font-size:x-large;
}
.title1 h1{
    font-size:x-large;
    display: inline-block;
}
.contCard
{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));
    padding: 30px;
}
.contCard card
{
    width: 16rem;
}
.contCard1
{
    display: grid;
    gap: 1rem;
    grid-column: 1fr 1fr;
    padding: 30px;
}
.contCard2
{
    display: grid;
    gap: 1rem;
    grid-column: 1fr 1fr;
    padding: 30px;
}
.contCard3
{
    display: grid;
    gap: 1rem;
    grid-column: 1fr 1fr;
    padding: 30px;
}