.imgBuilds
{
    height: 250px;
}
.contentSection1
{
    padding-top: 80px;
    /* padding-left: 30px; */
    align-items: center;
    justify-content: center;
}
.contentSection2
{
    padding-top: 80px;
    align-items: center;
    justify-content: center;
}
.contentSection3
{
    padding-top: 80px;
}
.contentSectionC
{
    list-style: circle;
    padding-top: 80px;
}
.t2
{
    color: gray;
    font-size:x-large;
}
.title1 h1{
    font-size:x-large;
    display: inline-block;
}
/* index */
.cards
{
    display: flex;
    min-height: 50vh;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
}
.contCard
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
/* mision vision */
.cards2
{
    display: flex;
    min-height: 30vh;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
}
.contCard2
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
/* administracion */
.cardsa
{
    display: flex;
    min-height: 30vh;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
}
.contCard3
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
.contCard3 .descp
{
    text-align: justify;
}
.contCard5
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
.contCard5 .descp
{
    text-align: justify;
}
/* carreras */
.cardscr
{
    display: flex;
    min-height: 100vh;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.contCard4
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}
/* index imgs */
.imgn1
{
    background: url(/images/build.PNG);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn2
{
    background: url(/images/teac.PNG);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn3
{
    background: url(/images/stu.PNG);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn4
{
    background: url(/images/gra.JPEG);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
/* administracion imgs */
.imgn5
{
    background: url(/images/decano.JPG);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
    
}
.imgn6
{
    background: url(/images/subdecano.JPEG);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
}
/* carreras imgs */
.imgn7
{
    background: url(/images/soft.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.imgn8
{
    background: url(/images/telec.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.imgn9
{
    background: url(/images/electronica.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.imgn10
{
    background: url(/images/tele.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.imgn11
{
    background: url(/images/dgraf.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.imgn12
{
    background: url(/images/tics.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.imgn13
{
    background: url(/images/elec.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
/* software */
.imgn14
{
    background: url(/images/Portada-Software.PNG);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.imgn15
{
    background: url(/images/ingreso.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.imgn16
{
    background: url(/images/egreso.PNG);
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: .2s;
}
.card
{
    box-shadow: 0 1px 6px 1px rgb(88, 88, 88);
    border-radius: 6px;
    transition: .2s;
}
.card:hover
{
    transform: translateY(-4px);
    box-shadow: 0 1px 6px 1px rgb(0,0, 45);
}
.cardHeader
{
    width: 100%;
    height: 180px;
}
.cardHeader2
{
    display: grid;
    width: 100%;
    height: 300px;
    align-items: center;
}
.cardHeader3
{
    display: grid;
    background-color: #D62828;
    border-radius: 6px;
    width: 100%;
    height: 150px;   
    align-items: center;
}
.cardBody
{
    padding: 15px;
    text-align:center;
}
.contCard4 .cardBody h3{
    margin-bottom: 15px;
}
.contCard4 .cardBody p{
    line-height: 1.5;
    margin-bottom: 20px;
}
.cardBody .link
{
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #165975;
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 1px 6px 1px rgb(88, 88, 88);
    transition: .2s;
}
.cardBody .link:hover
{
    background-color: #1e7aa1;
    transform: translateY(-2px);
}
.contain
{
    display: flex;
    min-height: 80vh;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.cardHead
{
    border-right: 1px solid #ddd;
    text-align: center;
}
.cardHead, .descripcion
{
    padding: 20px;
}
.cardHead img
{
    border-radius: 6px;
    height: 200px;
    transition: .2s;
}
.cardHead h5
{
    color: #FF0000;
    
}
.descripcion
{
    position: relative;
}
.descripcion p
{
    
    text-align: justify;
}
.cardContain
{
    display: flex;
    width: 600px;
    height: auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 6px 1px rgb(88, 88, 88);
}
@media (max-width: 1150px)
{
    .imgn14
    {
        height: 450px;
    }
}
@media (max-width: 950px)
{
    .imgn14
    {
        height: 400px;
    }
}
@media (max-width: 770px)
{
    .contCard
    {
        grid-template-columns: repeat(2,1fr);
    }
    .contCard2
    {
        grid-template-columns: repeat(1,1fr);
    }
    .contCard3
    {
        grid-template-columns: repeat(1,1fr);
        overflow: hidden;
    }
    .contCard4
    {
        grid-template-columns: repeat(2,1fr);
        overflow: hidden;
    }
    .contCard5
    {
        grid-template-columns: repeat(1,1fr);
        overflow: hidden;
    }
    .cardContain
    {
        display: block;
    }
    .cardHead
    {
        padding: 20px 20px 5px 20px;
    }
    .imgn14
    {
        height: 350px;
    }
}
@media (max-width: 600px)
{
    .contCard
    {
        grid-template-columns: repeat(1,1fr);
    }
    .contCard4
    {
        grid-template-columns: repeat(1,1fr);
        overflow: hidden;
    }
    .contCard5
    {
        grid-template-columns: repeat(1,1fr);
        overflow: hidden;
    }
    .imgn14
    {
        height: 250px;
    }
}
@media (max-width: 450px)
{
    .imgn14
    {
        height: 150px;
    }
}