.builds {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBuilds {
  height: 800px;
  transition: .2s;
}
.contentSection1 {
  padding-top: 80px;
  align-items: center;
  justify-content: center;
}
.contentSection2 {
  padding-top: 80px;
  align-items: center;
  justify-content: center;
}
.contentSection3 {
  padding-top: 80px;
}
.contentSectionC {
  list-style: circle;
  padding-top: 80px;
}
.title1 {
  padding-left: 20px;
}
.title1 h1 {
  font-size: x-large;
  display: inline-block;
}
.t2,
.t3 {
  color: gray;
  font-size: x-large;
}
.t3 {
  padding-left: 20px;
}
/* index */
.cards {
  display: flex;
  min-height: 50vh;
  padding: 30px 15px;
  align-items: center;
  justify-content: center;
}
.contCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
}
/* mision vision */
.cards2 {
  display: flex;
  min-height: 30vh;
  padding: 30px 15px;
  align-items: center;
  justify-content: center;
}
.contCard2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
}
/* administracion */
.cardsa {
  display: flex;
  min-height: 30vh;
  padding: 30px 15px;
  align-items: center;
  justify-content: center;
}
.contCard3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
}
.contCard3 .descp {
  text-align: justify;
}
.contCard5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
}
.contCard5 .descp {
  text-align: justify;
}
/* carreras */
.cardscr {
  display: flex;
  min-height: 30vh;
  padding: 30px 15px;
  align-items: center;
  justify-content: center;
}
.contCard4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
}
/* index imgs */
.imgn1 {
  background: url(/images/build.png);
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
.imgn2 {
  background: url(/images/teac.png);
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
.imgn3 {
  background: url(/images/stu.png);
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
.imgn4 {
  background: url(/images/gra.jpeg);
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
/* administracion imgs */
.imgn5 {
  background: url(/images/decano.jpg);
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}
.imgn6 {
  background: url(/images/subdecano.jpeg);
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}
/* carreras imgs */
.imgn7 {
  background: url(/images/soft.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.imgn8 {
  background: url(/images/telec.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.imgn9 {
  background: url(/images/electronica.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.imgn10 {
  background: url(/images/tele.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.imgn11 {
  background: url(/images/dgraf.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.imgn12 {
  background: url(/images/tics.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.imgn13 {
  background: url(/images/elec.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
/* software */
.imgn14 {
  background: url(/images/Portada-Software.png);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
.imgn15 {
  background: url(/images/ingreso.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.imgn16 {
  background: url(/images/egreso.png);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.2s;
}
.card {
  box-shadow: 0 1px 6px 1px rgb(88, 88, 88);
  border-radius: 6px;
  transition: 0.2s;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 6px 1px rgb(0, 0, 45);
}
.cardHeader {
  width: 100%;
  height: 180px;
}
.cardHeader2 {
  display: grid;
  width: 100%;
  height: 300px;
  align-items: center;
  padding-top: 5px;
}
.cardHeader3 {
  display: grid;
  background-color: #d62828;
  border-radius: 6px;
  width: 100%;
  height: 150px;
  align-items: center;
}
.cardBody {
  padding: 15px;
  text-align: center;
}
.contCard4 .cardBody h3 {
  margin-bottom: 15px;
}
.contCard4 .cardBody p {
  line-height: 1.5;
  margin-bottom: 20px;
}
.cardBody .link {
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: #165975;
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 1px 6px 1px rgb(88, 88, 88);
  transition: 0.2s;
}
.cardBody .link:hover {
  background-color: #1e7aa1;
  transform: translateY(-2px);
}
.contain {
  display: flex;
  padding: 30px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.cardHead {
  border-right: 1px solid #ddd;
  text-align: center;
}
.cardHead,
.descripcion {
  padding: 20px;
}
.cardHead img {
  border-radius: 6px;
  height: 200px;
  transition: 0.2s;
}
.cardHead h5 {
  color: #ff0000;
}
.descripcion {
  position: relative;
}
.descripcion p {
  text-align: justify;
}
.cardContain {
  display: flex;
  width: 600px;
  height: auto;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 6px 1px rgb(88, 88, 88);
}
@media (max-width: 1150px) {
  .imgn14 {
    height: 450px;
  }
  .imgBuilds {
    height: 700px;
  }
}
@media (max-width: 950px) {
  .imgn14 {
    height: 400px;
  }
  .imgBuilds {
    height: 600px;
  }
}
@media (max-width: 770px) {
  * {
    font-size: 13px;
  }
  .imgBuilds {
    height: 400px;
  }
  .contCard {
    grid-template-columns: repeat(2, 1fr);
    min-height: 10vh;
  }
  .contCard2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .contCard3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .contCard4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .contCard5 {
    grid-template-columns: repeat(1, 1fr);
    font-size: 12px;
  }
  .cardHeader .imgn1,
  .imgn2,
  .imgn3,
  .imgn4 {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .contCard .cardHeader {
    height: 80px;
  }
  .cards {
    min-height: 30vh;
  }
  .cardHeader3 {
    height: 100px;
  }
  .cardContain {
    display: block;
  }
  .cardHead {
    padding: 20px 20px 5px 20px;
  }
  .imgn14 {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .contCard4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .contCard5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .imgn14 {
    height: 250px;
  }
  .imgBuilds {
    height: 300px;
  }
  .copyright-text p {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .imgn14 {
    height: 150px;
  }
  .imgBuilds {
    height: 200px;
  }
}
